.new-post {
    /*display: none;*/
}

.new-post textarea {
    min-height: 95px;
    height: 95px;
    resize: vertical;
}

.new-post input {
    height: auto;
}

article.error-message {
    position: fixed;
    right: 30px;
    bottom: 5px;
    border: 1px solid #8c0c0c;
    background: #ffebeb;
    color: #8c0c0c;
}