#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.page {
  flex: 1;
}

article footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article footer [type=button] {
  margin-bottom: 0;
}

article header > h3 {
  margin-top: var(--pico-typography-spacing-vertical);
  margin-bottom: var(--pico-typography-spacing-vertical);
}
